.App {
  text-align: center;
}
.text{
  list-style-type: none;
}
.btn{
  padding: 0em 1em;
  cursor: pointer;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  text-align: left;
}
input[type="text"] {
  width: 30em;
  padding: 10px 0px;
  margin: 10px;
}
.btn:focus{
  outline: none;
}
.form{
  
  width: 50%;
  text-align: center;
  margin: 10px;
  background-color: rgb(30, 228, 156);
  border-radius: 2px;
}



/* todo list */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img{
  height: 623px;

}

#text{
  margin: 20px;
  color: darkcyan;
}

#form{
  height: 100vh;
  width: 100vw;
  color: #05f01b;
  font-weight: bold;
  /* background-repeat:; */
  /* background-image: url("https://images7.alphacoders.com/411/411820.jpg");
} */


